body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
}

.container {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  color: #4CAF50;
}

label {
  margin-top: 10px;
  display: block;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #777;
  border-radius: 3px;
  background-color: #555;
  color: #fff;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchForm div {
  display: flex;
  flex-direction: column;
}

.searchForm input,
.searchForm button {
  margin-left: 0px;
}

.tag-input {
  width: 50px;
}

.submit-button {
  margin-top: 17.5px;
}

#result {
  margin-top: 20px;
}

#championMastery {
  list-style-type: none;
  padding: 0;
}

#championMastery li {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #666;
  color: #fff;
}